*.xmsgs
*.sdbl
*.xml
*.html
ModulosProyectoArqui1/xst/work/work.sdbx
*.xise
ModulosProyectoArqui1/ModulosProyectoArqui1.gise
*.log
*.projectmgr
*.ncd
ModulosProyectoArqui1/Banco.cmd_log
*.ngc
ModulosProyectoArqui1/Banco.ngr
*.prj
ModulosProyectoArqui1/Banco.stx
*.syr
ModulosProyectoArqui1/Banco.xst
*.xrpt
ModulosProyectoArqui1/fuseRelaunch.cmd
*.xreport
*.lso
*.obj
*.c
*.didat
*.mrp
*.csv
*.pad
*.ptwx
*.twx
*.xpi
*.twr
*.ngd
*.map
*.par
*.ini
*.lst
*.sdb
*.dbg
*.dat
*.cmd
*.wdb
*.ngm
*.pcf
*.exe
*.dll
*.unroutes
*.bld
*.txt
*.xbcd
ModulosProyectoArqui1/isim/Banco_TB_isim_beh.exe.sim/tmp_save/_1
ModulosProyectoArqui1/isim/pn_info